name: Deploy Javadoc

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy JavaDoc
        uses: MathieuSoysal/Javadoc-publisher.yml@v2.4.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          javadoc-branch: docs
          java-version: 11
          target-folder: javadoc
          project: maven
          subdirectories: sharding-core sharding-spring
          custom-command: "mvn -pl sharding-core,sharding-spring javadoc:aggregate"